body{
    margin: 0px;
    padding: 0px;
}

.topNav{
    background-color: gray;
    min-height: 10px;
    padding: 8px 16px;
}

.topNav__logo{
    height: 24px;

}
.topNav__button{
    color: white;
}