* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1328px;
  margin-inline: auto;
  padding-inline: 64px;
}

.wrapper {
  padding-block: 64px;
  width: auto;
  margin-inline: auto;
}

body {
  color: black;
}

.main__media {
  overflow: hidden;
}
.main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  color: aquamarine;
  font-weight: 700;
  text-align: center;
}
.button--type-text {
  background-color: rgb(118, 234, 195);
  color: white;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}
.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}
.nav__logo {
  font-family: "Dancing Script", cursive;
}

.main__text2 {
  text-align: center;
}

#hero1 {
  background-color: black;
}
#hero1 .container2 {
  color: white;
  background-color: rgb(5, 5, 12);
  margin-inline: auto;
  display: flex;
  gap: 12px;
  align-items: center;
}
#hero1 .container2 > * {
  flex: 1;
}
#hero1 .wrapper2 {
  display: flex;
  padding-block: 30px;
  width: auto;
  margin-inline: auto;
}
#hero1 .main__text {
  text-align: center;
  color: azure;
  font-weight: 700px;
}
#hero1__media {
  min-width: 255px;
  display: flex;
}
#hero1 .wrapper3 {
  display: block;
  padding-block: 12px;
}
#hero1 h1 {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
}
#hero1 p {
  padding-top: 10px;
}

#hero2 {
  text-align: center;
}
#hero2 .button {
  margin-inline: auto;
}
#hero2 .main__text {
  max-width: 600px;
  margin-bottom: 24px;
  margin-inline: auto;
}
#hero2 .main__media {
  aspect-ratio: 16/9;
}
#hero2 h2 {
  margin-bottom: 16px;
}
#hero2 p {
  margin-bottom: 24px;
}

#hero3 .wrapper {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
#hero3 h2 {
  max-width: 10ch;
  text-align: left;
}
#hero3 p {
  text-align: right;
  max-width: 50ch;
}

#hero4 .main__text {
  display: flex;
}
#hero4 .container {
  display: flex;
  gap: 24px;
}
#hero4 .main__media {
  aspect-ratio: 4/3;
}

#hero5 {
  text-align: center;
}
#hero5 .wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}
#hero5 .wrapper > * {
  flex: 1;
}
#hero5 .main__text {
  text-align: center;
}
#hero5 .main__text__buttonWrapper {
  display: flex;
  gap: 16px;
}
#hero5 .main__media {
  aspect-ratio: 4/3;
}
#hero5 h2 {
  margin-bottom: 32px;
}
#hero5 p {
  margin-bottom: 24px;
}

#hero6 {
  background-color: rgb(194, 230, 218);
  font-weight: 500;
}
#hero6 .container {
  padding-top: 12px;
  padding-bottom: 64px;
}
#hero6 .nav__menuWrapper {
  display: block;
}
#hero6 .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}
#hero6__menuWrapper {
  display: block;
}

.container2 {
  max-width: 1650px;
}

@media (max-width: 550px) {
  .nav {
    font-weight: 500;
  }
  .nav .container {
    padding-inline: 12px;
  }
  .nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 8px;
  }
  .nav__menuWrapper {
    display: flex;
    gap: 8px;
    align-items: baseline;
  }
  #hero1 .container2 {
    display: block;
  }
  #hero1 .main__text {
    justify-content: space-between;
    text-align: center;
    padding-top: 12px;
  }
  #hero4 .container {
    display: block;
  }
  #hero4 .wrapper {
    padding-block: 24px;
  }
  p {
    min-width: 18ch;
  }
  #hero5 p {
    text-align: left;
  }
  #hero5 h2 {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=stp1.css.map */