*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.menu__wrapper {
    background-color: black;
    // color: white;
    display: flex;
    gap: 24px;
    align-items: baseline;
    justify-content: flex-start;
    line-height: 4rem;
    width: auto;
    padding-inline: 4rem;
    .nav__menu{
        color: white;
    }

  }



.container{
    margin-inline: auto;
    padding-inline: 32px;

}
@media (width <37.5rem){
    .container{
        padding-inline: 1rem;

    }
}

.wrapper{
    padding-block: 2rem;
    justify-content: center;
}

#section1{
    .wrapper{
        display: flex;
        gap: 1rem;
    }
}

.card {
    cursor: pointer;
    max-width: 500px;
    display: flex;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    overflow: hidden;
    transition: all 500ms ease;
    &:hover{
        transform: translateY(-0.125rem) scale(1.01);
        box-shadow: 0 0.5rem 0.75rem 0.375rem
            rgba(0, 0, 0, 0.15),
          0 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
        .card{
            &__img {
                filter: grayscale(0);
                
                
            }
        }
    }

    &__img{
        width: 100%;
        aspect-ratio: 1/ 1.2;
        object-fit: cover;
        filter: grayscale(100%);
        transition: filter 500ms ease;
        
    }
    &__text{
        color: black;
        padding: 1rem;
        h3{
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: bold;
            margin-bottom: 0.5rem;

        }
        p{
            $lineHeightVal:1.5rem;
            $clampline:4; 
            line-height: $lineHeightVal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            display: -webkit-box;
            -moz-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-line-clamp:$clampline;
            -webkit-line-clamp: $clampline;
            max-height: $clampline*$lineHeightVal;
        }
    }
 
}


